body {
    font-family: Arial, sans-serif;
    background-color: #e7e2e2;
    margin: 0;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    color: #ece4e4;
    margin-bottom: 20px;
    background-color: black;
  }
  
  #ramen-menu {
    display: flex;
    justify-content: center;
    gap: 15px;
    margin-bottom: 20px;
  }
  
  #ramen-menu img {
    width: 130px;
    height: 130px;
    object-fit: cover;
    border-radius: 10px;
    cursor: pointer;
    transition: transform 0.3s ease-in-out;
  }
  
  #ramen-menu img:hover {
    transform: scale(1.1);
  }
  
  #ramen-detail img{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border-radius: 10px;
    margin-bottom: 10px;
  }
  
  form {
    background-color: #ebe6e6;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgb(221, 220, 220);
    width: 50%;
    margin: 0 auto;
  }
  
  input[type="text"], input[type="url"], input[type="number"], textarea, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
  }
  
  input[type="submit"] {
    background-color: #070707;
    color: rgb(236, 230, 230);
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  input[type="submit"]:hover {
    background-color: #4e1b5e;
  }
  